.tablero {
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--blanco);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: var(--sombra);
}

.ca_cabecera, .tablero_titulo {
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .tablero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .t_elemento {
        width: 30%;
    }

    .grupo_botones {
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
}
